---
type Props = {
	method?: 'POST' | 'get' | 'dialog'
	classes?: string
}
const { method = 'post', classes } = Astro.props
---

<form action="/api/email" method={method} class:list={[{ [`${classes}`]: classes }]}>
	<slot />
</form>
