---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">Naš <strong>Web Life Support</strong> tim</h2>
			<p class="pb-0 text-lg">
				Za sva pitanja, informacije ili podršku, slobodno nas kontaktirajte. Naš tim posvećenih
				entuzijasta rado će vam pomoći u najkraćem mogućem roku. Radujemo se vašem javljanju i tu
				smo da osiguramo najbolje moguće iskustvo!
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Bojana"
				subtitle="Administracija, komunikacija s kupcima, dizajn."
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				tel="+385976785381"
				email="info@weblifesupport.com"
			/>
		</Col>
		<Col span="4">
			<Card
				title="Fran"
				subtitle="Web-developer, tehnička podrška."
				icon="document-text"
				classes="text-center dark:!bg-neutral-800/50"
				tel="+385997988790"
				email="info@weblifesupport.com"
			/>
		</Col>
		<Col span="4">
			<Card
				title="Natalia"
				subtitle="CEO, financije."
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				tel="+385955123149"
				email="info@weblifesupport.com"
			/>
		</Col>
	</Row>
</Section>
