---
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
---

<Row>
	<Col span="3" />
	<Col span="6">
		<section class="bg-white dark:bg-gray-900">
			<div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
				<div class="mx-auto max-w-screen-md sm:text-center">
					<h2
						class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:text-white"
					>
						Prijava na newsletter
					</h2>
					<p
						class="mx-auto mb-8 max-w-2xl font-light text-gray-500 sm:text-xl md:mb-12 dark:text-gray-400"
					>
						Prijavite se na naš newsletter i prvi saznajte o promo cijenama te novostima iz svijeta
						IT-a, weba i tehnologija!
					</p>
					<form id="newsletter-form">
						<div
							class="h-30 mx-auto mb-3 max-w-screen-sm items-center space-y-4 sm:flex sm:space-y-0"
						>
							<div class="relative w-full">
								<label
									for="email"
									class="mb-2 hidden text-sm font-medium text-gray-900 dark:text-gray-300"
									>Email address</label
								>
								<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
									<svg
										class="h-5 w-5 text-gray-500 dark:text-gray-400"
										fill="currentColor"
										viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
										><path
											d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
										></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
										></path></svg
									>
								</div>
								<input
									class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 pl-10 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 sm:rounded-none sm:rounded-l-lg dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
									placeholder="Unesite Vaš email"
									type="email"
									id="newsletter-input"
									required
								/>
							</div>
							<div>
								<button
									type="submit"
									class="w-full cursor-pointer rounded-lg border border-primary-500 bg-primary-500 px-5 py-3 text-center text-sm font-medium text-white hover:bg-primary-700 focus:ring-4 focus:ring-primary-700 sm:rounded-none sm:rounded-r-lg dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
									>Prijava</button
								>
							</div>
						</div>
						<div
							class="newsletter-form-footer mx-auto max-w-screen-sm text-left text-sm text-gray-500 dark:text-gray-300"
						>
							Brinemo o Vašoj privatnosti.
							<a
								href="/politika-privatnosti"
								class="font-medium text-primary-600 hover:underline dark:text-primary-500"
								>Pročitajte našu Politiku Privatnosti</a
							>.
						</div>
					</form>
				</div>
			</div>
		</section>
		<Col span="3" />
	</Col>
</Row>

<script>
	document.querySelector('#newsletter-form')!.addEventListener('submit', async (e) => {
		e.preventDefault()
		const newsletterInput = document.querySelector('#newsletter-input') as HTMLInputElement | null

		if (!newsletterInput) {
			alert('Unesite ispravan email')
			return
		}
		const value = newsletterInput.value
		try {
			const res = await fetch('/api/mailer-lite.json', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(value)
			})
			if (!res.ok) {
				throw new Error(`Server error: ${res.status} ${res.statusText}`)
			}

			const { message } = await res.json()

			window.location.href = `/newsletter?email=${encodeURIComponent(message)}`
		} catch (error) {
			console.error('Error:', error)
		}
	})
</script>
