---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Accordion from '../../ui/Accordion.astro'
import Card from '../../ui/cards/partials/Card.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="FAQ" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Česta pitanja</h2>
			<p class="text-lg leading-relaxed">
				Za dodatna pitanja slobodno nam se obratite putem <a href="/kontakt">upitnika</a>
			</p>
		</Col>
		<Col span="2" />
		<Col span="8">
			<Card classes="divide-y divide-neutral-100 dark:divide-neutral-800">
				<Accordion
					title="Što uključuje održavanje?"
					text="Osnovno održavanje iznosi 80€ godišnje te uključuje registraciju i obnovu domene, jedan business email, hosting, sigurnosne kopije, tehničko održavanje i podršku."
				/>
				<Accordion
					title="Što utječe na cijenu održavanja?"
					text="Osnovno održavanje iznosi 80€ godišnje, ali cijena se može povisiti ovisno o potrebama klijenta. U cijenu održavanja se može uključiti redovito ažuriranje sadržaja, naplata servisa trećih strana kao što su newsletteri, CMS admin sučelje za upravljanje sadržajem, baze podataka, veća potrošnja memorije, više mail adresa i slično."
				/>
				<Accordion
					title="Koliko košta domena i hosting?"
					text="Domena i hosting su u cijeni održavanja, nema dodatnih troškova."
				/>
				<Accordion
					title="Jesu li cijene izražene sa PDV-om?"
					text="Nismo u sustavu PDV-a tako da su cijene točno one koje su navedene."
				/>
				<Accordion
					title="Koja je cijena dodavanja stavki na stranicu nakon završene izrade?"
					text="Cijena rada je 20€ po satu. Ovisno o projektu, ali u sat vremena se može nadodati čitava podstranica."
				/>
			</Card>
		</Col>
		<Col span="2" />
	</Row>
</Section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>
