---
// Signup Modal
// ------------
// Description: A modal with a form to sign up.

// Components
// - UI
import Modal from '../../ui/Modal.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Modal id="impressum" classes={classes} title="Impressum">
	<p class="mb-0">
		BONANI, obrt za proizvodnju, usluge i trgovinu, vl. Natalia Ninić Prelec, Zagreb, Radmanovačka
		ulica 31 Phone number: +385976785381 Email address: info@weblifesupport.com Zagrebačka banka
		IBAN HR2023600001103067714
	</p>
</Modal>
<Modal id="mob" classes={classes} title="Mobitel">
	<a class="mb-0 hover:text-blue-600" href="tel:+385997988790">0997988790</a>
</Modal>
<Modal id="whatsapp" classes={classes} title="WhatsApp">
	<a
		class="mb-0 hover:text-blue-600"
		href="https://wa.me/385997988790?text=Pozdrav%2C%20zanima%20me%20izrada%20web%20stranice"
		target="_blank"
	>
		Javite nam se putem WhatsApp aplikacije
	</a>
</Modal>
