---
import Layout from '../layouts/Layout.astro'
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

const SEO = {
	title: 'Opći uvjeti poslovanja – WebLifeSupport',
	description:
		'Saznajte pravila i smjernice koje reguliraju prava, obveze i odgovornosti između pružatelja usluga i klijenata tijekom poslovne suradnje. WebLifeSupport osigurava transparentnost u svim poslovnim procesima.'
}
const header = {
	title: '<strong>Opći uvjeti poslovanja</strong>',
	text: 'Molimo pročitati pažljivo kako biste se upoznali sa vašim pravima i odgovornostima u cijelom procesu'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<SidebarContent>
		<div slot="sidebar">
			<h3>Definicije</h3>
		</div>
		<div class="basic-text">
			<h4>Izvršitelj usluge (WLS)</h4>
			<p>Tim koja pruža uslugu izrade web stranica.</p>
			<h4>Naručitelj usluge (Klijent)</h4>
			<p>Pravna ili fizička osoba koja naručuje uslugu izrade web stranice.</p>
			<h4>Projekt</h4>
			<p>Ukupni radovi i aktivnosti koje WLS provodi radi izrade i isporuke web rješenja.</p>
			<h4>Projektna dokumentacija</h4>
			<p>
				Zbirka dokumenata koja uključuje sve tehničke podatke, materijale i zahtjeve Klijenta
				potrebne za izradu web stranice.
			</p>
		</div>
	</SidebarContent>
	<SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
		<div slot="sidebar">
			<h3>Koraci u procesu izrade</h3>
			<p>
				Ovdje je opisana dinamika izrade web stranice i obveze i odgovornosti Klijenta i Pružatelja
				usluge
			</p>
		</div>
		<div class="basic-text">
			<h4>Kontakt osoba i komunikacija</h4>
			<p>
				Prije početka rada, Klijent je dužan imenovati jednu osobu i dostaviti jednu email adresu za
				kontakt koja će predstavljati Klijenta tijekom trajanja Projekta. Sva komunikacija i
				pružanje smjernica od strane Klijenta odvijat će se isključivo putem ove osobe i navedene
				email adrese, radi osiguranja jasnoće i konzistentnosti.
			</p>

			<h4>Faze projekta</h4>
			<p>
				Projekt se odvija u sukcesivnim fazama. Svaka faza započinje tek nakon što Klijent pisanim
				putem (emailom) ili usmeno odobri prethodnu fazu.
			</p>

			<h4>Plaćanje</h4>
			<p>
				Plaćanje Projekta vrši se prema sljedećoj dinamici, osim ako nije drugačije dogovoreno:
				30-50% ukupnog iznosa prije početka rada na Projektu. Ostatak prilikom finalizacije izrade
				web rješenja. Nakon potpune uplate WLS stranicu objavljuje javno.
			</p>
			<p>
				Kašnjenje u plaćanju može izazvati zastoje u radu, a WLS zadržava pravo redefiniranja
				rokova.
			</p>
			<h4>Plaćanje usluge održavanja</h4>
			<p>
				Dinamika plaćanja za uslugu održavanja vrši se prema dogovoru između Klijenta i WLS-a,
				ovisno o iznosu cijene održavanja. Za manje iznose cijene održavanja, plaćanje se najčešće
				vrši jednom godišnje, dok za veće iznose postiže se dogovor o dinamici npr. mjesečno,
				kvartalno ili polugodišnje plaćanje. Način plaćanja bit će dogovoren između korisnika i
				WLS-a prilikom aktivacije usluge, a Klijenti su obvezni poštovati odabrani način plaćanja.
			</p>
			<h4>Pravo na promjenu cijene održavanja</h4>
			<p>
				WLS zadržava pravo promijeniti cijenu usluge održavanja za iduću godinu u slučaju
				poskupljenja vanjskih usluga ili promjena u samoj usluzi održavanja. Promjena cijene može
				biti uslijed povećanja troškova pružatelja vanjskih usluga, promjena tržišnih uvjeta,
				inflacije ili drugih relevantnih čimbenika koji utječu na cijenu usluge održavanja. O
				eventualnoj promjeni cijene korisnici će biti obaviješteni najmanje 30 dana prije početka
				nove godine, a nova cijena će biti primjenjiva na sljedeću godinu.
			</p>

			<h4>Početak rada i rokovi</h4>
			<p>
				WLS sa radom započinje nakon uplate avansa od 30-50% ukupnog iznosa i zaprimanja svih
				potrebnih materijala za izradu od strane Klijenta. Rokovi projekta obračunavaju se od istog
				trenutka, ranije navedenog. Rokove izrade definiraju WLS i Klijent pisanim putem. Klijent je
				odgovoran dostaviti sve potrebne materijale najkasnije 5 dana nakon avansne uplate. U
				slučaju kašnjenja s dostavom materijala, redefiniraju se rokovi sukladno dostupnosti resursa
				WLS-a.
			</p>
			<h4>Projektni materijali</h4>
			<p>
				Klijent je dužan dostaviti sve potrebne materijale, uključujući tekstove, fotografije,
				logotip i druge sadržaje, prije početka rada na projektu.
			</p>
			<h4>Gap analiza i ponuda</h4>
			<p>
				Gap analiza i ponuda definiraju sve ključne funkcionalnosti i opseg Projekta. Bilo koji
				dodatni zahtjevi naknadno definirani od strane Klijenta mogu se dodatno naplatiti po
				standardnoj satnici WLS-a (20€) ili dogovorenoj cijeni, uz suglasnost Klijenta.
			</p>
			<h4>Izrada dizajna</h4>
			<p>
				Dizajn stranice određuje WLS prema temi stranice uz prijedloge Klijenta. Za dizajn koji
				potpuno određuje Klijent izrađuje se prototip dizajn, a naplaćuje se dodatno i unaprijed.
				Izrada stranice prema prototip dizajnu kreće tek nakon pismene potvrde Klijenta.
			</p>
			<h4>Pregled i isporuka</h4>
			<p>
				Nakon završetka izrade, web rješenje se dostavlja Klijentu na pregled. Klijent je dužan
				prijaviti eventualne nepravilnosti u roku od pet dana od dostavljenog rješenja. Nakon
				finalnog pregleda i potpune uplate, web rješenje se migrira na produkcijsku domenu.
			</p>
			<h4>Jamstveni rok</h4>
			<p>
				Klijent ima pravo 5 dana nakon isporuke web rješenja prijaviti eventualne nepravilnosti i
				tražiti ispravke putem elektronske pošte. Nakon tog perioda sve dodatne promjene na stranici
				se naplaćuju dodatno.
			</p>
			<h4>Specifičnosti</h4>
			<p>
				Ako Klijent želi specifične performanse, usluge, opcije (npr. analize web stranice), to mora
				biti definirano prije početka rada. Dodatne usluge se definiraju kao zasebne.
			</p>
			<h4>Treće strane</h4>
			<p>
				WLS ne može utjecati na rad trećih strana koje su uključene u Projektu (npr. hosting
				provider, registracija domene). WLS ne snosi odgovornost za eventualne probleme ili zastoje
				koji su uzrokovani radom trećih strana.
			</p>
			<h4>Autorska prava</h4>
			<p>
				WLS zadržava pravo postaviti potpis u podnožje stranice, najčešće u obliku diskretnog
				logotipa i linka na web stranicu WLS-a.
			</p>
			<h4>Raskid ugovora</h4>
			<p>
				Klijen može raskinuti ugovor prije završetka projekta, ali je dužan platiti WLS-u naknadu za
				već izvršene radove. WLS može raskinuti ugovor ako Klijent ne ispunjava svoje obveze
				(kašnjenje u plaćanju, nedostava materijala, nekomunikacija duža od 30 dana).
			</p>
			<h4>Pravo na promjenu općih uvjeta</h4>
			<p>
				WLS zadržava pravo izmjene općih uvjeta usluge u bilo kojem trenutku. Korisnici su obvezni
				redovito provjeravati opće uvjete, jer će svi eventualni uvjeti biti objavljeni na službenoj
				internetskoj stranici WLS-a. Korisnici neće biti obaviješteni putem e-maila o promjenama,
				stoga se nastavak korištenja usluga nakon objave novih uvjeta na internetskoj stranici
				smatra prihvaćanjem tih izmjena.
			</p>
			<h4>Prihvaćanje uvjeta</h4>

			<p>
				Uplatom 50% iznosa ponude Klijent prihvaća ove Opće uvjete poslovanja i Politiku
				privatnosti. Ovi uvjeti reguliraju odnos između Klijenta i WLS-a za vrijeme trajanja
				Projekta i važeći su od početka rada na Projektu.
			</p>
		</div>
	</SidebarContent>
</Layout>
