---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import Button from '../../ui/Button.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'

import astro from '../../../assets/avatars/Astro.webp'
import nextjs from '../../../assets/avatars/Next.js.webp'
import react from '../../../assets/avatars/React.webp'
const techs = [
	{ image: { src: nextjs.src, alt: 'next.js' } },
	{ image: { src: react.src, alt: 'react' } },
	{ image: { src: astro.src, alt: 'astro.js' } }
]
---

<Section
	id="intro"
	padding="top"
	classes="relative flex min-h-screen items-center justify-center overflow-hidden "
>
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<ChipNotification radius="rounded-full" classes="mb-6, text-xs sm:text-base">
				<strong>Najmodernije &nbsp</strong>tehnologije
				<AvatarGroup techs={techs} radius="rounded-full" slot="button" />
			</ChipNotification>
			<h1>Izrada <strong>web stranica</strong> pouzdano, brzo i povoljno</h1>

			<p class="pb-0 text-lg">Stručna podrška u Vašim prvim digitalnim koracima</p>
			<Button size="lg" link="kontakt-za-izradu-web-stranice">3,2,1...Go!</Button>
		</Col>
	</Row>
</Section>
