---
import Col from '../../ui/Col.astro'
---

<main>
	<section class="relative min-h-screen overflow-hidden text-white xl:min-h-[800px]">
		<div class="background-cool absolute inset-0"></div>
		<Col>
			<div class="container relative z-10 mx-auto px-4 py-24 md:py-32">
				<div class="flex flex-col items-center justify-between md:flex-row">
					<!-- Left Side: Company Info -->

					<div class="mb-12 w-full md:mb-0 md:w-1/2">
						<h1 class="mb-6 text-5xl leading-tight tracking-wider text-white md:text-6xl">
							Izrada Web Stranica

							<span class="block pt-5 tracking-normal text-blue-300">WebLifeSupport</span>
						</h1>
						<p class="my-8 text-xl text-gray-200">
							Stručna podrška u Vašim prvim digitalnim koracima.
						</p>
						<div class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0">
							<a
								href="kontakt-za-izradu-web-stranice"
								class="rounded-full bg-white px-8 py-3 text-center font-semibold text-blue-900 transition duration-300 hover:bg-blue-100"
								>Kontakt</a
							>
						</div>
					</div>

					<!-- Right Side: Features -->
					<div class="w-full md:w-1/2 md:pl-12">
						<div
							class="rounded-xl bg-white bg-opacity-10 p-8 shadow-2xl backdrop-blur-lg backdrop-filter"
						>
							<h2 class="mb-6 text-2xl text-gray-100">Najmodernija tehnologija</h2>
							<ul class="space-y-4">
								<li class="flex items-center">
									<svg
										class="mr-3 h-6 w-6 text-yellow-400"
										fill="none"
										stroke="currentColor"
										viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg"
										><path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg
									>
									<span>Lightning-fast</span>
								</li>
								<li class="flex items-center">
									<svg
										class="mr-3 h-6 w-6 text-green-500"
										fill="none"
										stroke="currentColor"
										viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M4 4h16v12H4z"></path>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M4 16h16v4H4z"></path>
									</svg>

									<span>Fleksibilnost dizajna</span>
								</li>
								<li class="flex items-center">
									<svg
										class="mr-3 h-6 w-6 text-blue-200"
										fill="none"
										stroke="currentColor"
										viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M6 6h14M6 12h14M6 18h14M4 6h.01M4 12h.01M4 18h.01"></path>
									</svg>

									<span>SEO friendly</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</Col>
		<!-- Decorative Element -->
		<div class="absolute bottom-[-1px] left-0 right-0">
			<svg viewBox="0 0 1440 120" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M0 120L60 105C120 90 240 60 360 45C480 30 600 30 720 37.5C840 45 960 60 1080 67.5C1200 75 1320 75 1380 75L1440 75V120H1380C1320 120 1200 120 1080 120C960 120 840 120 720 120C600 120 480 120 360 120C240 120 120 120 60 120H0Z"
					fill="white"></path>
			</svg>
		</div>
	</section>
</main>
<style>
	.background-cool {
		background-image: radial-gradient(#e9e9f0 1.2000000000000002px, #0f396a 1.2000000000000002px);
		background-size: 54px 54px;
		animation: gradient-animation 20s ease-in-out;
	}

	@keyframes gradient-animation {
		0% {
			background-size: 54px 54px;
			opacity: 1;
		}
		50% {
			background-size: 35px 35px;
			opacity: 0.7;
		}
		100% {
			background-size: 54px 54px;
			opacity: 1;
		}
	}
</style>
